<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>
<p>
  <%= @message.url  %>
</p>
<p>
  <%= @message.created_at %>
</p>
<hr/>
<a href="/messages">Back to All Messages</a>
<p>Other posts from this author</p>
<%= @all_messages %>
<% @all_messages.each do |message| %>
  <div class="message">
    <p>
      <a href="/messages/<%= message.id %>"><%= message.author %> <br></a> 
      <p class="message_content"><%= message.content %> <br></p>
      <a href="<%= message.url if message.url%>"><%= message.url %></a> <br>
      <span class="time"><%= message.created_at %></span>
    </p>
  </div>
<% end %>